doctype html
html
  head
    title= title

    script(src="/javascripts/jquery/dist/jquery.js")
    script(src="/stylesheets/bootstrap/dist/js/bootstrap.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap/dist/css/bootstrap.css")
  body
    block content
