doctype html
html
  head
    title= title

    script(src="/javascripts/jquery/dist/jquery.js")
    script(src="/stylesheets/bootstrap/dist/js/bootstrap.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    
  body
    block content
