extends ../layout

block content
    style.
        form{
            border:3px double silver;
            padding: 5px;
            border-radius: 10px
        } 
    form.form.col-md-6.offset-md-3(action="/users/register",method="post")
        .form-group 
            label(for="Name") Name
            input.form-control(type="text",name="name",placeholder="Name")
        .form-group 
            label(for="Email") Email
            input.form-control(type="email",name="email",placeholder="Email")
        .form-group 
            label(for="password") Password
            input.form-control(type="password",name="password",placeholder="Password")
        .form-group 
            label(for="mobile") Mobile
            input.form-control(type="text",name="mobile",placeholder="Mobile")
        .form-group 
            button.btn.btn-success(type="submit") Register