extends ../layout

block content
    .form
        .form-group 
            label(for="name") Name
            .form-control #{data['name']}
        .form-group 
            label(for="email") Email
            .form-control #{data['email']}
        .form-group 
            label(for="Mobile") Mobile
            .form-control #{data['mobile']}